= bootstrap_form_for(@home) do |f|
  .row
    .col-md-4
      = f.text_field :nombre, {required: 'required'}
    .col-md-4
      = f.text_field :direccion, {required: 'required'}
    .col-md-4
      = f.number_field :latitud, {required: 'required', step: 'any'}
  .row    
    .col-md-4
      = f.number_field :longitud, {required: 'required', step: 'any'}
  .row
    .actions-form
      - if @home.new_record?
        = f.submit 'Crear', class: 'btn btn-primary'
      - else
        = f.submit 'Actualizar', class: 'btn btn-primary'
