<div class="spn_hol">
  <div class="spinner">
    <h5>
      <%=image_tag("logo.png") %>
    </h5>
    TAXITURA
  </div>
</div>
<!-- END PRELOADER -->

<!-- =========================
START ABOUT US SECTION
============================== -->
<section class="header parallax home-parallax page" id="HOME">
  <h2></h2>
  <div class="section_overlay">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%=image_tag("logo.png") %>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- NAV -->
            <li><a class="menu-link" href="#HOME">INICIO</a> </li>
            <li><a class="menu-link" href="#ABOUT">NOSOTROS </a> </li>
            <li><a class="menu-link" href="#FEATURES">CARACTERISTICAS</a></li>
            <li><a class="menu-link" href="#SCREENS">GALERIA</a> </li>
            <li><a class="menu-link" href="#QUESTIONS">PREGUNTAS FRECUENTES</a> </li>
            <li><a class="menu-link" href="#CONTACT">CONTACTENOS </a> </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container- -->
    </nav>

    <div class="container home-container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo text-center">
            <!-- LOGO -->
            <!-- <%=image_tag("logo.png", size: "60x60") %> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="home_text">
            <!-- TITLE AND DESC -->
            <h1>Viajar en taxi con Taxitura es una muy buena aventura!</h1>
            <p>Todo Desde Facebook Messenger, Sin Descargas, Sin Quitarte Tiempo.</p>

            <div class="download-btn">
              <!-- BUTTON -->
              <a class="btn home-btn wow fadeInLeft" href="https://www.facebook.com/messages/t/taxitura" target="_blank">Pedir Taxi!</a>
              <a class="tuor btn wow fadeInRight" href="#ABOUT">Conocer más <i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1 col-sm-4">
          <div class="home-iphone">
            <%=image_tag("iphone_t.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END HEADER SECTION -->




<!-- =========================
START ABOUT US SECTION
============================== -->


<section class="about page" id="ABOUT">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- ABOUT US SECTION TITLE-->
        <div class="section_title">
          <h2>Nosotros</h2>
          <p class="justify-text">
Comprometidos con el desarrollo del país, Hemos tenido el privilegio de encontrarnos en nuestro destino
compartiendo con el mismo propósito, el deseo imbatible de aportar al desarrollo social,
económico y tecnológico de nuestras ciudades.</p>
        </div>
      </div>

    </div>
  </div>
  <div class="inner_about_area">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
            <!-- PHONE -->
            <%=image_tag("about_iphone.png") %>
          </div>
        </div>
        <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
          <!-- TITLE -->
          <div class="inner_about_title">
            <h2>¿POR QUÉ USARLA?</h2>
            <p class="fnt-15 justify-text">Por qué interactuar con taxi tura: Taxi es una plataforma inteligente, que interactúa con un bot
de Facebook llamado "Tura", complementándose en taxi tura en su perfil en Facebook, podrás
interactuar con él, ha sido creado con el fin de minimizar los tiempos de espera en el llamado de un
servicio de taxi y con el fin de que no tengas que ocupar espacio en tu dispositivo con
aplicaciones y poderte brindar facilidad en la conexión con los más preparados conductores de la
ciudad, los cuales han sido seleccionados entre los mejores habiendo cumplido con los requisitos
necesarios, han hecho disposición de algunos datos personales, para facilitar su
ubicación de ser necesario. Para poderte brindar seguridad, comodidad, eficiencia y buena
atención.</p>
          </div>
          <div class="inner_about_desc">

            <!-- SINGLE DESC -->
            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
              <!-- ICON -->
              <div><i class="fa fa-bed"></i></div>
              <!-- HEADING DESCRIPTION -->
              <h3>Comodidad</h3>
              <p>Taxitura busca dejar grabada en la memoria una muy buena experiencia a cada uno
de sus usuarios, sabemos que para eso debemos contar con el apoyo del gremio taxista,
brindandonos la disposición de un buen vehículo que califique de 1 a 5.</p>
            </div>
            <!-- END SINGLE DESC -->
          </div>
        </div>
      </div>
      <div style="padding-top: 50px;" class="row">
        <div class="col-md-6">
           <!-- SINGLE DESC -->
            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
              <!-- ICON -->
              <div><i class="fa fa-shield"></i></div>
              <!-- HEADING DESCRIPTION -->
              <h3>Seguridad</h3>
              <p>Taxitura exige unos documentos básicos al conductor tanto del taxista como del
vehículo, deben cumplir con la normatividad y además exige datos personales que permitan
ubicarlo de manera fácil y segura,</p>
            </div>
            <!-- END SINGLE DESC -->
        </div>
        <div class="col-md-6">
            <!-- SINGLE DESC -->
            <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
              <!-- ICON -->
              <div><i class="fa fa-clock-o"></i></div>
              <!-- HEADING DESCRIPTION -->
              <h3>Eficiencia:</h3>
              <p>Taxitura quiere siempre el menor tiempo para tu servicio, es por esa razón que hace su
trabajo de la forma más eficiente, buscando el taxi que este mar cerca de tu posición, en intervalos
de 500 metros, para así garantizar que tu servicio este lo más rápido posible frente a ti.</p>
            </div>
            <!-- END SINGLE DESC -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="video_area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInLeftBig">
          <!-- VIDEO LEFT TITLE 
          <div class="video_title">
            <h2>Best App <br>in the market</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
          </div>
          <div class="video-button">
            <!-- BUTTON 
            <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Features</a>
          </div>
        </div>
        <div class="col-md-6 wow fadeInRightBig">
          <!-- VIDEO 
          <div class="video">
            <iframe src="https://player.vimeo.com/video/88209254?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="560" height="315"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
<!-- End About Us -->




<!-- =========================
START TESTIMONIAL SECTION
============================== -->

<section id="TESTIMONIAL" class="testimonial parallax">
  <div class="section_overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12 wow bounceInDown">
          <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
              <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <!-- IMAGE -->
                      <%=image_tag("client_1.png") %>
                      <div class="testimonial_caption">
                        <!-- DESCRIPTION -->
                        <h2>Dan Harmon</h2>
                        <h4><span>SR. UI Designer,</span> Dcrazed</h4>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <!-- IMAGE -->
                      <%=image_tag("client_2.png") %>
                      <div class="testimonial_caption">
                        <!-- DESCRIPTION -->
                        <h2>Allie Kingsley</h2>
                        <h4><span>SR. Content Strategist,</span> Designscrazed</h4>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <!-- IMAGE -->
                      <%=image_tag("client_3.png") %>
                      <div class="testimonial_caption">
                        <!-- DESCRIPTION -->
                        <h2>Joel Mchale</h2>
                        <h4><span>SR. Developer,</span> Treehouse</h4>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- END TESTIMONIAL SECTION -->



<!-- =========================
START FEATURES
============================== -->
<section id="FEATURES" class="features page">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- FEATURES SECTION TITLE -->
        <div class="section_title wow fadeIn" data-wow-duration="1s">
          <h2>CARACTERISTICAS</h2>
          <p>Algunas de las caracteristicas principales que destacan a "Taxitura"</p>
        </div>
        <!-- END FEATURES SECTION TITLE -->
      </div>
    </div>
  </div>

  <div class="feature_inner">
    <div class="container">
      <div class="row">
        <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
          <!-- FEATURE -->

          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="fa fa-comment-o"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3>Chat<span></span></h3>
            <p>Pide tu taxi a través de un chat por Facebook Messenger</p>
          </div>

          <!-- END SINGLE FEATURE -->


          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="fa fa-download"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3>¿Descargas?<span></span></h3>
            <p>Claro que no!, ahora no necesitarás ocupar el espacio de tu movil</p>
          </div>
          <!-- END SINGLE FEATURE -->


          <!-- FEATURE -->
          <div class="left_single_feature">
            <!-- ICON -->
            <div><span class="fa fa-clock-o"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3>Horario<span></span></h3>
            <p>Nuestro servicío estará estará disponible las 24 horas del día </p>
          </div>
          <!-- END SINGLE FEATURE -->

        </div>
        <div class="col-md-4">
          <div class="feature_iphone">
            <!-- FEATURE PHONE IMAGE -->
            <%=image_tag("iphone_t.png", class: "wow bounceIn") %>
          </div>
        </div>
        <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

          <!-- FEATURE -->
          <div class="right_single_feature">
            <!-- ICON -->
            <div><span class="fa fa-taxi"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><span></span>Taxistas</h3>
            <p>Contamos con los mejores taxistas de la ciudad para ofrecerte el mejor servicio</p>
          </div>
          <!-- END SINGLE FEATURE -->


          <!-- FEATURE -->
          <div class="right_single_feature">
            <!-- ICON -->
            <div><span class="fa fa-mobile"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><span></span>Disponibilidad</h3>
            <p>Estará disponible para cualquier dispositivo con acceso a Facebook Messenger</p>
          </div>
          <!-- END SINGLE FEATURE -->


          <!-- FEATURE -->
          <div class="right_single_feature">
            <!-- ICON -->
            <div><span class="fa fa-wifi"></span></div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <h3><span></span>Conectividad</h3>
            <p>A la hora de pedir un taxi deberas contar con una conexión estable a internet</p>
          </div>
          <!-- END SINGLE FEATURE -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END FEATURES SECTION -->



<!-- =========================
START CALL TO ACTION
============================== -->
<div class="call_to_action">
  <div class="container">
    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <a style="font-size: 25px;" class="btn btn-primary btn-action" href="https://www.facebook.com/messages/t/taxitura" target="_blank" role="button">PIDE UN TAXI</a>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>

<!-- END CALL TO ACTION -->


<!-- =========================
Start APPS SCREEN SECTION
============================== -->
<section class="apps_screen page" id="SCREENS">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
        <!-- APPS SCREEN TITLE -->
        <div class="section_title">
          <h2>GALERIA</h2>
          <p>Una pequeña muestra del paso a paso para pedir un taxi hasta la posición en la que te encuentras.</p>
        </div>
        <!-- END APPS SCREEN TITLE -->
      </div>
    </div>
  </div>

  <div class="screen_slider">
    <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
      <div id="owl-demo" class="owl-carousel">

        <!-- APPS SCREEN IMAGES -->
        <div class="item">
          <%=image_tag("iphone04.png") %>
        </div>
        <div class="item">
          <%=image_tag("iphone05.png") %>
        </div>
        <div class="item">
          <%=image_tag("iphone06.png") %>
        </div>
        <div class="item">
          <%=image_tag("iphone07.png") %>
        </div>
        <!-- <div class="item">
          <%=image_tag("iphone08.png") %>
        </div>
        <div class="item">
          <%=image_tag("iphone09.png") %> 
        </div> -->
      </div>
    </div>
  </div>
</section>



<!-- ENS APPS SCREEN -->





<!-- =========================
Start FUN FACTS
============================== -->


<section class="fun_facts parallax">
  <div class="section_overlay">
    <div class="container wow bounceInLeft" data-wow-duration="1s">
      <div class="row text-center">
        <div class="col-md-3">
          <div class="single_fun_facts">
            <i class="fa fa-users"></i>
            <h2><span  class="counter_num">500</span> <span>+</span></h2>
            <p>Usuarios</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single_fun_facts">
            <i class="fa fa-thumbs-o-up"></i>
            <h2><span  class="counter_num">2000</span> <span>+</span></h2>
            <p>Likes</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single_fun_facts">
            <i class="fa fa-taxi"></i>
            <h2><span  class="counter_num">200</span> <span>+</span></h2>
            <p>Taxistas</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="single_fun_facts">
            <i class="fa fa-commenting"></i>
            <h2><span  class="counter_num">150</span> <span>+</span></h2>
            <p>Comentarios</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END FUN FACTS -->




<!-- =========================
START DOWNLOAD NOW
============================== -->
<!-- <section class="download page" id="DOWNLOAD">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <!-- DOWNLOAD NOW SECTION TITLE 
        <div class="section_title">
          <h2>download now</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
        <!--END DOWNLOAD NOW SECTION TITLE 
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="download_screen text-center wow fadeInUp" data-wow-duration="1s">
          <%=image_tag("download_screen.png") %>
        </div>
      </div>
    </div>
  </div>
  <div class="available_store">
    <div class="container  wow bounceInRight" data-wow-duration="1s">
      <div class="col-md-6">
        <div class="available_title">
          <h2>Available on</h2>
          <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
      <!-- DOWNLOADABLE STORE 
      <div class="col-md-6">
        <div class="row">
          <a href="">
            <div class="col-md-4 no_padding">
              <div class="single_store">
                <i class="fa fa-apple"></i>
                <div class="store_inner">
                  <h2>iOS</h2>
                </div>
              </div>
            </div>
          </a>
          <div class="col-md-4 no_padding">
            <a href="">
              <div class="single_store">
                <i class="fa fa-android"></i>
                <div class="store_inner">
                  <h2>ANDROID</h2>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4 no_padding">
            <a href="">
              <div class="single_store last">
                <i class="fa fa-windows"></i>
                <div class="store_inner">
                  <h2>WINDOWS</h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- END DOWNLOADABLE STORE 
    </div>
  </div>
</section> -->
<!-- END DOWNLOAD -->

<!-- =========================
START PREGUNTAS FRECUENTES
============================== -->
<section class="page questions" id="QUESTIONS">
  <div style="padding-top: 0;" class="call_to_action">
    <div class="container">
      <div class="row wow fadeInLeftBig" data-wow-duration="1s">
        <div class="col-md-12" style="text-align: center;">
          <div class="section_title">
            <h2 style="color: #fff;">PREGUNTAS FRECUENTES</h2>
            <p style="margin-bottom: 0; margin-top: 20px;">Para nosotros es importante resolver tus preguntas</p>
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="subtitle-fq">Usuarios</h2>
          <div class="panel-group" id="usuarios">
            <!-- El contenido se carga por medio de ajax desde frequent_questions.js -->
          </div>
        </div>
        <div class="col-md-6">
          <h2 class="subtitle-fq">Taxistas</h2> 
          <div class="panel-group" id="taxistas">
            <!-- El contenido se carga por medio de ajax desde frequent_questions.js -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CALL TO ACTION -->


<!-- =========================
START CONTCT FORM AREA
============================== -->
<section class="contact page" id="CONTACT">
  <div class="section_overlay">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 wow bounceIn">
        <!-- Start Contact Section Title-->
        <div class="section_title">
          <h2>Contáctanos</h2>
          <p>Por favor no dude en ponerse en contácto con nosotros, cualquier duda acerca del sistema será respondida</p>
        </div>
      </div>
    </div>

    <div class="contact_form wow bounceIn">
      <div class="container">

        <!-- START ERROR AND SUCCESS MESSAGE -->
        <div class="form_error text-center">
          <div class="name_error hide error">Por favor escriba su nombre</div>
          <div class="email_error hide error">Por favor escriba su email</div>
          <div class="email_val_error hide error">Por favor ingrese un email válido</div>
          <div class="message_error hide error">Por favor escriba su mensaje</div>
        </div>
        <div class="Sucess"></div>
        <!-- END ERROR AND SUCCESS MESSAGE -->

        <!-- CONTACT FORM starts here, Go to contact.php and add your email ID, thats it.-->
         <% if flash[:success] %>
            <div class="alert alert-success" role="alert">
              <a  class="alert-link"><%= flash[:success] %></a>
            </div>
         <% end %>
         <% if flash[:error] %>
            <div class="alert alert-danger" role="alert">
              <a><%= flash[:error] %></a>
            </div>
         <% end %>
        
        <%= form_for Inbox.new, {url: inboxes_path , role: 'form', id: 'contact-us'} do |f| %>
          <div class="row">
            <div class="col-md-4">
              <%= f.text_field :nombre, id: 'name', class: "form-control",placeholder: "Nombre",:required => true %>
              <%= f.email_field :email,id: 'email', class: "form-control",placeholder: "Email" , :required => true%>
              <%= f.text_field :asunto, id: 'subject', class: "form-control",placeholder: "Asunto", :required => true %>
            </div>


            <div class="col-md-8">
              <%= f.text_area :mensaje, id: 'message',class: "form-control", :required => true, placeholder: " Mensaje...", rows: 25, cols: 10,style: "height: 117px;" %>
              <%= f.submit "Enviar Mensaje" ,class: "btn btn-default submit-btn"%>
            </div>
          </div>
        <% end %>
        <!-- END FORM -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 wow bounceInLeft">
          <div class="social_icons">
            <ul>
              <li><a href="https://www.facebook.com/taxitura" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="https://www.instagram.com/taxitura" target="_blank"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CONTACT -->

<!-- =========================
Start Subscription Form
============================== -->



<section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" id="SUBSCRIBER">
  <div class="section_overlay wow lightSpeedIn">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <!-- Start Subscribe Section Title -->
          <div class="section_title">
            <h2>SUSCRIBETE</h2>
            <p>Suscribete a nuestro boletin de noticias y mantente enterado de todo lo que pasa con "Taxitura"</p>
          </div>
          <!-- End Subscribe Section Title -->
        </div>
      </div>
    </div>

    

    <div class="container">
      <div class="row  wow lightSpeedIn">
        <div class="col-md-6 col-md-offset-3">
          <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
          <% if flash[:success] %>
            <div class="alert alert-success" role="alert">
              <a  class="alert-link"><%= flash[:success] %></a>
            </div>
         <% end %>
         <% if flash[:error] %>
            <div class="alert alert-danger" role="alert">
              <a><%= flash[:error] %></a>
            </div>
         <% end %>
          <!-- Check this topic on how to add email subscription list, http://kb.mailchimp.com/lists/signup-forms/host-your-own-signup-forms -->
          <%= form_for Subscriber.new, {url: subscribers_path , role: 'form', class: 'subscribe_form', id: 'mc-form'} do |f| %>
            <div class="form-group">
              <!-- EMAIL INPUT BOX -->
              <%= f.email_field :email, class: "required email form-control input-subs",placeholder: "Ingresa tu email" , :required => true, autocapitalize: "off", autocorrect: "off" %>
            </div>
            <!-- SUBSCRIBE BUTTON -->
            <%= f.submit "Suscribirme" ,class: "btn btn-default subs-btn btn-subs"%>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</section>

<!-- END SUBSCRIPBE FORM -->


<!-- =========================
FOOTER
============================== -->

<section class="copyright">
  <h2></h2>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="copy_right_text">
          <div class="iframe-container">
            <div style="height: 50px; overflow: hidden;" class="fb-page" data-href="https://www.facebook.com/taxitura" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" height="500"></div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="copy_right_text">
          <!-- COPYRIGHT TEXT -->
          <p>Construido por el equipo de Taxitura con amor para ti.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="scroll_top">
          <a href="#HOME"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
