.int-content
  .form-title
    Lista de Conductores
    .model-action
      %span.badge.badge-secondary.secondary
        = link_to 'Crear conductor', new_driver_path
  = render partial: 'filter'
  .horizontal-divider
  .drivers
    - @drivers.each do |driver|
      .row.driver{ class: 'clickable-row', 'data-href': edit_driver_path(driver)}
        .col-lg-12
          .driver-info
            .image-driver
              - if driver.photo_url(:photo)
                .round
                  = image_tag driver.photo_url(:photo)
              - else
                .round
                  = gravatar_image_tag(driver.email)
            .driver-data
              .driver-name
                %b
                  = driver.nombre
              .driver-placa
                - if driver.taxis.count > 0
                  - driver.taxis.each do |taxi|
                    %span.placa-taxista.badge
                      = taxi.placa
                - else
                  %span.placa-taxista.badge
                    = 'Sin taxi asignado'
          .actions
            - if driver.activo?
              %span.green-label Activo
            - else
              %span.red-label Inactivo

