<!DOCTYPE html>
<html>
  <head>
    <title>Taxitura</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpOuqlNsEV9WQGN4EhGFHiR9gm80IFQGM&callback=initMap">
    </script>
    <link rel="shortcut icon" type="image/png" href="<%= image_path('logo.png') %>"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
